html, body {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.userCard {
  width: 300px;
  margin: 2% 0;
}

.userCard button {
  width: 75px;
  margin: 5% 3%;
}

.card-body {
  height: 150px;
}

.usersList {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body input, .modal-body textarea {
  width: 400px;
  border-radius: 5px;
  margin: 2%;
}

